{% extends 'TodoApp/base.html' %}


{% block body_block %}



<form class="">
  <div class="container">

    <div class="card">

        <div class="card-body">
            <div class="card-title">Make your To Do List</div>
          <div class="card-text">
           <div class="row">
              <div class="col-md-12">
                 <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" required>
                 </div>
              </div>
              <div class="col-md-12">
                 <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" required>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-md-12">
                 <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="text" class="form-control" name="email" id="email" required>
                 </div>
              </div><br>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Activity List
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Reading Book</a></li>
                        <li><a class="dropdown-item" href="#">Excersize</a></li>
                        <li><a class="dropdown-item" href="https://www.verywellfamily.com/summer-fun-ideas-kids-and-parents-3542627">Search fun activity</a></li>
                      </ul>
                    </div><br>

                  </div>
                </div>
              </div>



              <div class='col-md-12'>
                 <div class="form-group">
                    <label class="control-label">Target Date and Time</label>
                    <div class='input-group date' id='datetimepicker1'>
                       <input type='text' class="form-control" />
                       <span class="input-group-addon">
                       <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                    </div>
                 </div>
              </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-primary mb-3" <a href="https://www.google.com/search?q=congrats&sxsrf=AOaemvL1_fzLfQVQ3vmCXvEjVXKqiWzcww:1632235469855&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjw7_r6ppDzAhUYeCsKHQ8_AHQQ_AUoAXoECAEQAw&biw=1366&bih=625&dpr=1">Confirm</a></button>
            </div>
          </div>




        </div>
     </div>
  </div><br>

  <script>
    $(function () {
      $('#datetimepicker1').datetimepicker();
   });
  </script>
</form>



{% endblock %}
